*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  box-sizing: border-box;
  padding-top: 20px;
  width: auto;
}

.title {
  padding-bottom: 20px;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 120%
}

.preview-baku {
  background-image: url("../images/baku.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: left;
  color: white;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.baku-text {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 140%;
}

.preview-london {
  background-image: url("../images/london.png");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: left;
  color: white;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.london-text {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 140%;
}

.preview-madrid {
  background-image: url("../images/madrid.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: left;
  color: white;
  padding-bottom: 10px;
  box-sizing: border-box;
  }

.madrid-text {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 140%;
}

.preview-rome {
  background-image: url("../images/rome.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: left;
  color: white;
  padding-bottom: 10px;
  box-sizing: border-box;
  }

.rome-text {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 140%;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 45%;
    display: inline-block
  }
  .title {
    width: 100%;
  }
}

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 22%;
    display: inline-block
  }
  .title {
    width: 100%;
  }
}
